* {
	margin: 0;
	padding: 0;
	border: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.box-one {
	width: 100%;
	height: 100px;
	background: blue;
	margin-bottom: 10px;
}

.box-two {
	width: 100%;
	height: 100px;
	background: green;
	margin-bottom: 10px;
}

.box-three {
	width: 100%;
	height: 100px;
	background: red;
	margin-bottom: 10px;
}

.box-four {
	width: 100%;
	height: 100px;
	background: aqua;
	margin-bottom: 10px;
}